body{
  background: #E4D6D6;
  font-family: arial;
}

h1 {
  background: #666;
  font-size: 20px;
  color: white;
  padding: 14px;
}

.text {color: #706B6B; text-align:left}
.gif {text-align:left}
.kresba {float:left; width: 340px}
