body{
  background: #E4D6D6;
  font-family: arial;
}

h1 {
  background: #666;
  font-size: 10px;
  color: white;
  padding: 14px;
}

p{
  color: #706B6B;
}

.text {background:#666; text-align:left; float:left}
.gif {text-align:center}
