body{
  background: #E4D6D6;
  font-family: arial;
}

h1 {
  background: #666;
  font-size: 20px;
  color: white;
  padding: 14px;
}

.videaflex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
}

.videoSLabel{
  display: flex;
  flex-direction: column;
}
